#### Writing functions to scrape the following:
    - match stats for every game in the "24/25" and "25/26" season
    - season dictionary which will give us additional data to supplement final dataframe
    - clean the data, replace NaN with zero's 
    - add extra columns and features
    - handle columns that scrape was impossible for or error occured
    - scrape momentum df, reshape the momentum dataframe, calculate the PCA, apply a sigmoid function to scale results to -10 and plus 10, and the add home_momentum and away_momentum to the season dataframe.
    - scrape league table for the season and add some additional features to the table to customize it a bit.
    - scrape shot data for every shot in every match, we will use this to compute more features for the season match dataframe

In [1]:
import pandas as pd
import ScraperFC as sfc
import numpy as np

In [2]:
match_shots = sfc.Sofascore().scrape_match_shots(12436410)
match_shots

Running

,player,isHome,shotType,situation,playerCoordinates,bodyPart,goalMouthLocation,goalMouthCoordinates,blockCoordinates,xg,xgot,id,time,timeSeconds,draw,reversedPeriodTime,reversedPeriodTimeSeconds,periodTimeSeconds,incidentType,goalType
0,"{'name': 'Yoane Wissa', 'slug': 'yoane-wissa',...",True,miss,corner,"{'x': 12.2, 'y': 49.7, 'z': 0}",right-foot,left,"{'x': 0, 'y': 67.9, 'z': 23.6}","{'x': 4.6, 'y': 41.9, 'z': 0}",0.101793,0.000000,4211852,63,3737,"{'start': {'x': 49.7, 'y': 12.2}, 'block': {'x...",28,1663,1037,shot,NaN
1,"{'name': 'Gabriel Jesus', 'slug': 'gabriel-jes...",False,miss,fast-break,"{'x': 9.5, 'y': 40.4, 'z': 0}",right-foot,close-left,"{'x': 0, 'y': 58.3, 'z': 4.2}",NaN,0.229455,0.000000,4211849,60,3567,"{'start': {'x': 40.4, 'y': 9.5}, 'end': {'x': ...",31,1833,867,shot,NaN
2,"{'name': 'Mikel Merino', 'slug': 'mikel-merino...",False,miss,assisted,"{'x': 13, 'y': 47.4, 'z': 0}",right-foot,left,"{'x': 0, 'y': 76.6, 'z': 6.9}","{'x': 3.7, 'y': 32.1, 'z': 0}",0.087949,0.000000,4211851,57,3385,"{'start': {'x': 47.4, 'y': 13}, 'block': {'x':...",34,2015,685,shot,NaN
3,"{'name': 'Gabriel Martinelli', 'slug': 'gabrie...",False,goal,regular,"{'x': 11.8, 'y': 41.3, 'z': 0}",right-foot,low-right,"{'x': 0, 'y': 46.1, 'z': 14.6}",NaN,0.173004,0.884089,4211842,53,3146,"{'start': {'x': 41.3, 'y': 11.8}, 'end': {'x':...",38,2254,446,shot,regular
4,"{'name': 'Mikel Merino', 'slug': 'mikel-merino...",False,goal,corner,"{'x': 2.5, 'y': 52.6, 'z': 0}",left-foot,low-left,"{'x': 0, 'y': 52, 'z': 19}",NaN,0.472572,0.977650,4211837,50,2958,"{'start': {'x': 52.6, 'y': 2.5}, 'end': {'x': ...",41,2442,258,shot,regular
5,"{'name': 'Gabriel Jesus', 'slug': 'gabriel-jes...",False,save,corner,"{'x': 7.9, 'y': 47.4, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 51.6, 'z': 19}","{'x': 1.6, 'y': 48.2, 'z': 0}",0.085454,0.000000,4211838,50,2956,"{'start': {'x': 47.4, 'y': 7.9}, 'block': {'x'...",41,2444,256,shot,NaN
6,"{'name': 'Gabriel Martinelli', 'slug': 'gabrie...",False,block,assisted,"{'x': 10.4, 'y': 60, 'z': 0}",head,low-centre,"{'x': 0, 'y': 50.3, 'z': 19}","{'x': 8.5, 'y': 58.1, 'z': 0}",0.023656,0.000000,4211767,40,2342,"{'start': {'x': 60, 'y': 10.4}, 'block': {'x':...",6,358,2342,shot,NaN
7,"{'name': 'Thomas Partey', 'firstName': '', 'la...",False,block,assisted,"{'x': 15.3, 'y': 47.4, 'z': 0}",left-foot,low-right,"{'x': 0, 'y': 46.9, 'z': 19}","{'x': 6.3, 'y': 50.7, 'z': 0}",0.043542,0.000000,4211762,35,2074,"{'start': {'x': 47.4, 'y': 15.3}, 'block': {'x...",11,626,2074,shot,NaN
8,"{'name': 'Yoane Wissa', 'slug': 'yoane-wissa',...",True,miss,fast-break,"{'x': 70.3, 'y': 68.8, 'z': 0}",right-foot,right,"{'x': 0, 'y': 28.9, 'z': 6.9}",NaN,0.075822,0.000000,4211760,32,1896,"{'start': {'x': 68.8, 'y': 70.3}, 'end': {'x':...",14,804,1896,shot,NaN
9,"{'name': 'Gabriel Jesus', 'slug': 'gabriel-jes...",False,goal,regular,"{'x': 5.4, 'y': 52.8, 'z': 0}",head,high-centre,"{'x': 0, 'y': 49.4, 'z': 22.8}",NaN,0.467132,0.671639,4211757,29,1703,"{'start': {'x': 52.8, 'y': 5.4}, 'end': {'x': ...",17,997,1703,shot,regular
10,"{'name': 'Thomas Partey', 'firstName': '', 'la...",False,save,assisted,"{'x': 21.8, 'y': 42, 'z': 0}",right-foot,low-right,"{'x': 0, 'y': 46.1, 'z': 9.5}","{'x': 1.2, 'y': 48.7, 'z': 0}",0.036676,0.626640,4211758,29,1701,"{'start': {'x': 42, 'y': 21.8}, 'block': {'x':...",17,999,1701,shot,NaN
11,"{'name': 'Gabriel Martinelli', 'slug': 'gabrie...",False,block,assisted,"{'x': 10.6, 'y': 43.3, 'z': 0}",right-foot,low-left,"{'x': 0, 'y': 52.6, 'z': 19}","{'x': 9.2, 'y': 43.9, 'z': 0}",0.168760,0.000000,4211756,29,1690,"{'start': {'x': 43.3, 'y': 10.6}, 'block': {'x...",17,1010,1690,shot,NaN
12,"{'name': 'Bryan Mbeumo', 'slug': 'bryan-mbeumo...",True,block,regular,"{'x': 3.5, 'y': 72.9, 'z': 0}",right-foot,low-right,"{'x': 0, 'y': 48.1, 'z': 19}","{'x': 2.5, 'y': 67.2, 'z': 0}",0.013617,0.000000,4211764,28,1650,"{'start': {'x': 72.9, 'y': 3.5}, 'block': {'x'...",18,1050,1650,shot,NaN
13,"{'name': 'Keane Lewis-Potter', 'firstName': ''...",True,save,assisted,"{'x': 13.8, 'y': 36.4, 'z': 0}",right-foot,high-centre,"{'x': 0, 'y': 49.5, 'z': 22.2}","{'x': 3.8, 'y': 46, 'z': 0}",0.071568,0.082082,4211755,28,1646,"{'start': {'x': 36.4, 'y': 13.8}, 'block': {'x...",18,1054,1646,shot,NaN
14,"{'name': 'Gabriel Martinelli', 'slug': 'gabrie...",False,block,assisted,"{'x': 18.8, 'y': 29.7, 'z': 0}",right-foot,low-right,"{'x': 0, 'y': 46, 'z': 19}","{'x': 17.3, 'y': 31.6, 'z': 0}",0.019638,0.000000,4211727,17,992,"{'start': {'x': 29.7, 'y': 18.8}, 'block': {'x...",29,1708,992,shot,NaN
15,"{'name': 'Bryan Mbeumo', 'slug': 'bryan-mbeumo...",True,goal,fast-break,"{'x': 13.4, 'y': 64, 'z': 0}",left-foot,low-right,"{'x': 0, 'y': 46.4, 'z': 1.9}",NaN,0.057348,0.470421,4211726,13,728,"{'start': {'x': 64, 'y': 13.4}, 'end': {'x': 5...",33,1972,728,shot,regular
16,"{'name': 'Riccardo Calafiori', 'slug': 'riccar...",False,miss,assisted,"{'x': 13.3, 'y': 41.5, 'z': 0}",head,right,"{'x': 0, 'y': 38, 'z': 16.7}","{'x': 6.6, 'y': 53.1, 'z': 0}",0.021106,0.000000,4211725,12,701,"{'start': {'x': 41.5, 'y': 13.3}, 'block': {'x...",34,1999,701,shot,NaN
17,"{'name': 'Martin Ødegaard', 'slug': 'martin-od...",False,miss,assisted,"{'x': 25.4, 'y': 61.3, 'z': 0}",left-foot,high-left,"{'x': 0, 'y': 60.3, 'z': 95.8}",NaN,0.032600,0.000000,4211723,10,580,"{'start': {'x': 61.3, 'y': 25.4}, 'end': {'x':...",36,2120,580,shot,NaN
18,"{'name': 'Ethan Nwaneri', 'slug': 'ethan-nwane...",False,block,assisted,"{'x': 14.7, 'y': 49.1, 'z': 0}",left-foot,low-centre,"{'x': 0, 'y': 50.9, 'z': 19}","{'x': 12.7, 'y': 49.1, 'z': 0}",0.062896,0.000000,4211722,7,417,"{'start': {'x': 49.1, 'y': 14.7}, 'block': {'x...",39,2283,417,shot,NaN

In [ ]:
team_league_stats = sfc.Sofascore().scrape_team_league_stats('24/25', 'England Premier League')

24/25 England Premier League team stats: 100%|██████████████████████| 20/20 [00:55<00:00,  2.77s/it]

In [ ]:
team_league_stats

Index(['teamName', 'teamId', 'goalsScored', 'goalsConceded', 'ownGoals',
       'assists', 'shots', 'penaltyGoals', 'penaltiesTaken', 'freeKickGoals',
       ...
       'totalPassesAgainst', 'yellowCardsAgainst', 'throwIns', 'goalKicks',
       'ballRecovery', 'freeKicks', 'id', 'matches', 'awardedMatches',
       'statisticsType'],
      dtype='object', length=117)

In [ ]:
fbref_league_table = sfc.FBref().scrape_league_table('24/25', 'England Premier League')
fbref_league_table

Task failed for input: https://fbref.com/en/comps/9/history/Premier-League-Seasons

Traceback (most recent call last):
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus\browser_decorator.py", line 201, in run_task
    result = func(driver, data)
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\ScraperFC\fbref.py", line 53, in _
    driver.wait_for_element("body.fb", wait=10)
    ~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\driver.py", line 1246, in wait_for_element
    return self._make_element(self._tab.wait_for(selector, timeout=wait))
                              ~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\tab.py", line 1314, in wait_for
    item = self.query_selector(selector)
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\tab.py", line 750, in query_selector
    doc: cdp.dom.Node = self.send(cdp.dom.get_document(-1, True))
                        ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\connection.py", line 286, in send
    self.open()
    ~~~~~~~~~^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\connection.py", line 167, in open
    self.wait_for_socket_connection()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\connection.py", line 190, in wait_for_socket_connection
    self.raise_connection_failure_exception()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\enaic\AppData\Roaming\Python\Python314\site-packages\botasaurus_driver\core\connection.py", line 182, in raise_connection_failure_exception
    raise Exception(self._connection_failure_message)
Exception: The target tab or iframe is no longer available. This may have occurred because you navigated to a different page, reloaded the current page, or closed the tab.

In [3]:
match_shots.to_csv('match_shots.csv', index=False)